[Unit]
Description=Certificate Service
After=network.target logs-service.service

[Service]
User=azureuser
WorkingDirectory=/path/to/project/certificate-service
ExecStart=/usr/bin/node dist/main
Environment=DB_HOST=localhost
Environment=DB_PORT=5555
Environment=DB_USER=postgres
Environment=DB_PASS=postgres
Environment=DB_NAME=testefinal_db
Environment=PORT=8083
Environment=LOGS_API_URL=http://177.44.248.107:8084/logs
Environment=CORS_ALLOWED_ORIGINS=*
Restart=always

[Install]
WantedBy=multi-user.target
