[Unit]
Description=Notification Service
After=network.target logs-service.service

[Service]
User=azureuser
WorkingDirectory=/path/to/project/notification-service
ExecStart=/usr/bin/node dist/main
Environment=PORT=8082
Environment=SMTP_HOST=smtp.gmail.com
Environment=SMTP_PORT=587
Environment=SMTP_SECURE=false
Environment=SMTP_USER=pedroportzdorneles@gmail.com
Environment=SMTP_PASS=vqdvysiohpllbplu
Environment=EMAIL_FROM=noreply@gmail.com
Environment=LOGS_API_URL=http://177.44.248.107:8084/logs
Environment=CORS_ALLOWED_ORIGINS=*
Restart=always

[Install]
WantedBy=multi-user.target
